.address-list{

    margin:30px 0;

}

.address-card{

    border:2px solid #ddd;

    border-radius:10px;

    padding:18px;

    margin-bottom:20px;

    transition:.3s;

}

.address-card.selected{

    border-color:#ff3b30;

    background:#fff5f5;

}

.address-card label{

    display:flex;

    gap:15px;

    cursor:pointer;

}

.address-card input{

    margin-top:6px;

}

.delete-address, .edit-address{

    margin-top:15px;

    background:#ff3b30;

    color:white;

    border:none;

    padding:10px 16px;

    border-radius:6px;

    cursor:pointer;

}

.edit-address{
    margin-left: 10px;
}

.no-address{

    color:gray;

    margin:20px 0;

}