.checkout-page{

    margin-top:100px;

    padding:40px;

    min-height:100vh;

}

.checkout-page h1{

    text-align:center;

    margin-bottom:40px;

}

.checkout-container{

    display:flex;

    gap:30px;

    align-items:flex-start;

}

.checkout-left{

    flex:2;

}

.checkout-right{

    flex:1;

    background:white;

    padding:25px;

    border-radius:12px;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

}

.checkout-product{

    display:flex;

    gap:20px;

    margin-bottom:20px;

    background:white;

    padding:20px;

    border-radius:10px;

    box-shadow:0 5px 10px rgba(0,0,0,.1);

}

.checkout-product img{

    width:120px;

}

.summary-row{

    display:flex;

    justify-content:space-between;

    margin:15px 0;

}

.total{

    font-size:22px;

    font-weight:bold;

    color:#34c759;

}

.payment-btn{

    width:100%;

    margin-top:30px;

    padding:15px;

    background:#34c759;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-size:17px;

}

.payment-btn:disabled{

    background:#999;

    cursor:not-allowed;

}