.footer {
  display: flex;
  background-color: rgb(184, 223, 255, 0.7);
  backdrop-filter: blur(5px);
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  font-size: 14px;
  margin-top: 40px;
  border-radius: 20px;
  margin: 40px 20px 0px 20px;
}

.footer .footer-logo{
  font-size: 28px;
  transition: font-color 0.3s, font-size 0.8s ease-in-out;
}

.footer .footer-logo:hover{
  font-size: 34px;
  color: rgba(255, 0, 4, 1);
}

.footer .footer-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bigb-about{
  max-width: 270px;
}

.bigb-about:hover{
  color: rgba(255, 0, 4, 1);
  transition: all 0.3s ease-in-out;
}

.footer .footer-mid1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
  cursor: pointer;
}

.footer .footer-mid1-content {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  
  /* Set the initial width of the underline to 0% */
  background-size: 0% 2px; 
  
  /* Animate the background-size property */
  transition: background-size 0.4s ease-out;
}

.footer-mid1-content:hover{
  color: rgba(255, 0, 4, 1);
  background-size: 100% 2px;
}

.footer .footer-mid2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
  cursor: pointer;
}

.footer .footer-mid2-content {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  
  /* Set the initial width of the underline to 0% */
  background-size: 0% 2px; 
  
  /* Animate the background-size property */
  transition: background-size 0.4s ease-out;
}

.footer-mid2-content:hover{
  color: rgba(255, 0, 4, 1);
  background-size: 100% 2px;
}

.footer .footer-mid-header{
  font-size: 20px;
  font-weight: bold;
}

.footer .footer-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.footer-right-header{
  font-size: 22px;
  font-weight: bold;
}

.footer-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  gap: 22px;
  transition: all 0.3s ease-in-out;
}

.icon:hover{
  color: rgba(255, 0, 4, 1);
}